# Ignore vscode lib dir
/.bloop/
/.metals/
/.vscode/

# Ignore dev conf dir
/conf/

# Ignore target dir
/target/

# Folder to read / write
/anonymizedDataset/*
/datasetToAnonymize/*
/sample/output/**
